<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>

    <link rel="stylesheet" type="text/css" href="styles1.css">

</head>
<body>

    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="inventory.html">Inventory</a></li>
            <li><a href="about.html">About Us</a></li>
        </ul>
    </nav>

    <img src="/Images/MyHeart.png" >

    <h1 style="text-align: center;">Something About Us</h1>

    <div class="carousel">
        <div class="carousel-inner">
            <img src="image1.jpg" alt="Image 1">
            <img src="image2.jpg" alt="Image 2">
            <img src="image3.jpg" alt="Image 3">
        </div>
    </div>

    <p>Here at Peak Performance Auto, we believe in providing more than just great cars—we're committed to delivering an exceptional customer experience. Our knowledgeable and friendly team is here to guide you through every step of your car-buying journey, from selecting the perfect vehicle to financing options that work for you.

    We take pride in building lasting relationships with our customers and aim to make every visit a stress-free, enjoyable experience. Whether you're looking for your first car, upgrading to a new model, or simply exploring your options, we're here to help, and have been for 40 years.</p>
    
</body>
</html>