<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>

    <link rel="stylesheet" type="text/css" href="..\static\styles.css">

</head>
<body>

    <img class="logo" src="..\static\img\logo.png" alt="">

    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="inventory.html">Inventory</a></li>
            <li><a href="about.html">About Us</a></li>
        </ul>
    </nav>
    
    <h1 style="text-align: center;">View our wide selection of cars below:</h1>

    <form>
        <input type="text" placeholder="Search..." name="search">
        <button type="submit">Search</button>
    </form>

    <div class="container">
        <div>
            <img class="showcase-img" src="/static\img\1.jpg" alt="Image 1">
            <p>Ford Fiesta</p>
        </div>
    </div>
    
</body>
</html>
